# US9 - Custos do Consumo de Água

## 1. Introdução

## 2. Código e Resultados

In [1]:
# importação das bibliotecas
import pandas as pd

In [4]:
# leitura do ficheiro com o consumo de água
data = pd.read_csv('water_consumption.csv', sep=';', names=['Park', 'Year', 'Month', 'Day', 'Consumption'])

### Barplot

In [5]:
#year = int(input('Digite o ano para o qual pretende o estudo: '))
#startMonth = int(input('Digite o o mês no qual pretende começar o estudo: '))
#endMonth = int(input('Digite o mês no qual pretende terminar o estudo: '))
#parkIdentification = (input('Digite a identificação do parque para o qual pretende o estudo: '))

for linha, coluna in data:

                       Park;Year;Month;Day;Consumption
Oriental;2023;1;1;20                               8.0
ArcaAgua;2023;1;1;5                                2.0
Covelo;2023;1;1;9                                 27.0
Cidade;2023;1;1;68                                25.0
Oriental;2023;1;2;19                               NaN
...                                                ...
Oriental;2024;3;31;24                            444.0
ArcaAgua;2024;3;31;6                             489.0
Covelo;2024;3;31;11                             6802.0
SaoRoque;2024;3;31;9                             846.0
Cidade;2024;3;31;79                              443.0

[2195 rows x 1 columns]

## 3. Análise e Interpretação dos Resultados